WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_REDIRECT_URI=http://localhost:5173/auth/wechat/callback

WAFFO_MERCHANT_ID=MER_3XvfKaEK2wuqgrDt6PtKQL
WAFFO_STORE_ID=STO_6NtmHS8XEwWqmEcSmQCiwZ
WAFFO_PRIVATE_KEY=
WAFFO_ENVIRONMENT=test
WAFFO_CURRENCY=USD
WAFFO_PRODUCT_ID=
WAFFO_WEBHOOK_URL=
